$font-color: #333333;
$font-highlight-color: #42b883;

// 新拟物背景
$neumorphis-background: #F1F2F7;

// 新拟物外部阴影
$neumorphis-light-shadow: lighten($neumorphis-background, 15%);
$neumorphis-dark-shadow: darken($neumorphis-background, 15%);

// 新拟物内部渐变
$neumorphis-light-highlight: lighten($neumorphis-background, 7%);
$neumorphis-dark-highlight: darken($neumorphis-background, 10%);
