@import './colors.scss';

@mixin neumorphism-flat($height, $radius, $bg: $neumorphis-background) {
  border-radius: $radius;
  background-image: $bg;
  box-shadow:
    $height $height $height * 2 darken($bg, 15%),
    (-$height) (-$height) $height * 2 lighten($bg, 15%);
}

@mixin neumorphism-concave($height, $radius, $bg: $neumorphis-background) {
  border-radius: $radius;
  background-image: linear-gradient(145deg, darken($bg, 10%), lighten($bg, 7%));
  box-shadow:
    $height $height $height * 2 darken($bg, 15%),
    (-$height) (-$height) $height * 2 lighten($bg, 15%);
}

@mixin neumorphism-convex($height, $radius, $bg: $neumorphis-background) {
  border-radius: $radius;
  background-image: linear-gradient(145deg, lighten($bg, 7%), darken($bg, 10%));
  box-shadow:
    $height $height $height * 2 darken($bg, 15%),
    (-$height) (-$height) $height * 2 lighten($bg, 15%);
}

@mixin neumorphism-pressed($height, $radius, $bg: $neumorphis-background) {
  border-radius: $radius;
  background-image: $bg;
  box-shadow:
    inset $height $height $height * 2 darken($bg, 15%),
    inset (-$height) (-$height) $height * 2 lighten($bg, 15%);
}

.neumorphism-bottom-shadow {
  box-shadow: 10px 0 20px darken($neumorphis-background, 15%);
}

@mixin neumorphism-btn($height, $radius) {
  @include neumorphism-flat($height, $radius);
  cursor: pointer;
  user-select: none;

  &:hover {
    @include neumorphism-convex($height, $radius);
  }

  &:active {
    @include neumorphism-concave($height, $radius);
  }
}
